<a href="https://colab.research.google.com/github/leehg9805/solution/blob/master/Python%EC%88%98%EC%97%85%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python 기초

## 숫자형

In [ ]:
a=123
b=-123.4
a+b

In [ ]:
c=0o34
d=0o24
c+d

In [ ]:
e=0x2A
f=0xFF
e+f

## 문자형

In [ ]:
s='WiseInCompany'
s1="WiseInCompany"
s2='''WiseInCompany'''
s3="123"
print(s)
print(s1)
print(s2)
print(s3)
print(type(s3))

In [ ]:
a="Wise"
b="InCompany"
print(a+b)

a="WiseInCompany"
print(a*2)

In [ ]:
a="Wise In Company"
print(a[3])
print(a[-3])

print(a[0:15])
print(a[4:])
print(a[0:4])

## 리스트

In [ ]:
a=[1,2,3,4,5]
print(a)

a=[1,2,3,4,5]
print(a[0])
print(a[-1])

a=[1,2,3,4,5]
print(a[0:5])
print(a[:5])
print(a[2:])

In [ ]:
a=[1,2,3,4,5]
a.append(6)
a[0]=0
del a[1]
print(a)

In [ ]:
a=[1,2]
b=[3,4,5]
c=a+b
print(c)

d=a*3
print(d)

## 튜플

In [ ]:
t=(1,2,3,4,5)

t1=(1,2,3)
print(t[1])
print(t[0:3])

In [ ]:
a=(1,2)
b=(3,4,5)
c=a+b
print(d)

d=a*3
print(d)

In [ ]:
name=("David", "Kim")
print(name)

firstname, lastname=("David", "Kim")
print(lastname, ", ", firstname)

## 집합

In [ ]:
set={1,1,2,3}
print(set)

In [ ]:
set={1,1,2,3}
set.add(4)
set

In [ ]:
set={1,1,2,3}
set.update({4,5,6})
set

In [ ]:
set.remove(1)
set

In [ ]:
set.clear()
set

In [ ]:
a={1,2,3}
b={1,3,4}

c=a&b
print(c)

d=a|b
print(d)

e=a-b
print(e)

## 사전

In [ ]:
test={"Kim":90, "Jeong":80, "Park":75}
test["Kim"]

In [ ]:
test={"Kim":90, "Jeong":80, "Park":75}
test["Jeong"]=85
test["Cho"]=95
del test["Park"]
print(test)

In [ ]:
test={"Kim":90, "Jeong":80, "Park":75}
print(test.keys())
print(test.values())

## if문

In [ ]:
money=4000

if money==3000:
    print("KTX 타고 가자")
elif money>=5000:
    print("버스 타고 가자")
else:
    print("걍 걸어가!")

## for문

In [ ]:
sum=0
for i in range(11):
    sum=sum+i
print(sum)

In [ ]:
list=["Wise", "In", "Company"]
for s in list:
    print(s)

## while문

In [ ]:
i=0
while i<10:
    print(i)
    i=i+1

In [ ]:
food=["apple", "banana", "bread"]
i=0
while i < len(food):
    print(food[i])
    i=i+1

## Pandas함수와 데이터다루기

In [ ]:
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
a=Series([1,3,5,7])
a

In [ ]:
a.values

In [ ]:
a.index

In [ ]:
a2=pd.Series([1,3,5,7], index=['a','b','c', 'd'])
a2

In [ ]:
df=pd.read_csv('cosmetics_.csv')
df

In [ ]:
df=pd.read_excel('cosmetics_.xlsx')
df

In [ ]:
dfk=pd.read_csv('cosmeticsKR_.csv', encoding='euc-kr')
dfk

In [ ]:
df.head()

In [ ]:
 df.tail()

In [ ]:
df[1:5]

In [ ]:
df[:3]

In [ ]:
df[245:]

In [ ]:
df['amount']

In [ ]:
df.amount

In [ ]:
df[df.columns[[1,3,10]]]

In [ ]:
df.loc[:, 'decision':'location']

In [ ]:
df.iloc[1:7, 0:2]

In [ ]:
df.at[5, 'amount']

In [ ]:
df_columns = df.copy()

In [ ]:
df_columns.columns

In [ ]:
df_columns = df_columns[['gender','marriage','edu','job','mincome']]
df_columns.head()

In [ ]:
df_columns.columns = ['gender','marriage','edu','job','mincome']

In [ ]:
df_columns.rename(columns={'job': 'occupation'}, inplace=True)

In [ ]:
df_columns.head()

In [ ]:
df['tex-inclued price']=df['amount']*1.1

In [ ]:
df.insert(8,'total price', df['amount']*12)

In [ ]:
df.head()

In [ ]:
del df['total price']
del df['tex-inclued price']

In [ ]:
df.head()

In [ ]:
df_gender=df[(df['gender']==1)] 
df_gender

In [ ]:
df_reacount=df[(df['count']<10) & (df['count']>=1)]  
# 연 구매횟수1회~9회 이하
df_reacount

In [ ]:
df['edu'].value_counts(sort=False)

In [ ]:
def edu_groups(series):
    if series==2:
        return 1
    elif series==3 or series==4:
        return 2
    elif series>=5:
        return 3

In [ ]:
df['eduM']=df['edu'].apply(edu_groups)

In [ ]:
df['eduM'].value_counts(sort=False)